@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-bar-item {
	@apply px-5 hover:bg-gray-300 ease-in-out transition-all duration-700 rounded-t-md;
}

.btn-critical {
	@apply mt-3 w-full inline-flex justify-center py-2 sm:mt-0 sm:ml-6 sm:w-auto sm:text-sm
  px-5 bg-blue-600 hover:bg-blue-700 text-white hover:text-slate-200 text-sm font-semibold rounded-md shadow focus:outline-none transition-all ease-in-out duration-300;
}

.btn {
	@apply mt-3 w-full inline-flex justify-center py-2 sm:mt-0 sm:ml-6 sm:w-auto sm:text-sm
  px-5 bg-blue-400 hover:bg-blue-500 text-white hover:text-slate-200 text-sm font-semibold rounded-md shadow focus:outline-none transition-all ease-in-out duration-300;
}

.ubuntu {
	font-family: "Ubuntu", "Segoe UI", "Helvetica Neue", sans-serif;
}

.tab-bar-main {
	position: relative;
	display: inline-block;
}

.tab-bar-panel {
	@apply pr-6 inline-block;
}

.tab-bar-content {
	@apply absolute block pt-2;
}

.tab-bar-menu-item {
	@apply pl-5 cursor-pointer;
}
